<!DOCTYPE html>

<html lang="pt">
<head>
    <meta http-equiv="Content-Language" content="pt">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Login.css")
</head>
<body>
    @RenderBody()
    <script type="text/javascript">var baseUrl = '@Url.Content("~")';</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
