@model sec.Models.Usuario
@{
    ViewBag.Title = "Início";
    int i = 0;
}
<style>
</style>
<div class="row">
    <div class="col-md-3 p-4 bg-danger" style="color: white;height: calc(100vh - 71px); position: fixed;">
        <div class="grupo-perfil" style="text-align: center;">
            <i class="fa fa-user-circle" id="imgPadrao" style="font-size: 4.5rem; color: white;"></i>
        </div>
        <div class="grupo-perfil" style="text-align: center; ">
            <h2>@Model.Nome</h2>
            <h3>@Model.Nick</h3>
        </div>
        <div class="grupo-perfil" style="max-height: 220px; overflow-y: auto;">
            <h3>Preferências</h3>
            @foreach (var pref in Model.Preferencias)
            {
                <div class="chip">
                    @pref.Descricao
                    <small class="close-pref" ref="@pref.Id">x</small>
                </div>
            }
        </div>
        <div class="grupo-perfil">
            <div style="text-align: center;">

                <button class="btn btn-primary" id="anexarPref" style="width: 60%;">Anexar Preferência</button>


            </div>
        </div>
        <div class="grupo-fim">

            <button class="btn btn-block">Arquivos</button>
        </div>

    </div>
    <div class="offset-md-3 col-md-9 ">
        @foreach (var usu in Model.Amigos)
        {
            foreach (var arq in usu.Arquivos.Where(a => a.Preferencias.Any(s => Model.Preferencias.Select(p => p.Id).Contains(s.Id))))
            {
                <div class="card">
                    <div class="cabecario border-bottom pt-4 pl-3 pr-3 pb-3">
                        <div class="row ">
                            <div class="col-md-6">

                                @if (usu.Foto == null)
                                {
                                    <i class="fa fa-user-circle" id="imgPadrao" style="font-size: 2rem;"></i>
                                }
                           
                                <span>@usu.Nome</span>
                            </div>
                            <div class="col-md-6" style="text-align: right; ">
                                @{
                                    i = 0;
                                    foreach (var tag in arq.Preferencias)
                                    {
                                        if (i == 0)
                                        {
                                            <span class="border">@tag.Descricao</span>
                                        }
                                        else
                                        {
                                            <span class="border">, @tag.Descricao</span>
                                        }

                                        i++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div style="text-align: right" class="mr-3 mt-3">
                        <a href="@Url.Action("DownloadArquivo", "FileUpload", new { id = arq.Id})" class=""><i class="fa fa-download" style="font-size: 1.3rem;"></i></a>
                    </div>
                    <div style="text-align: center" class="border-bottom pt-3 pl-3 pr-3 pb-3">
                        <img src="@Url.Action("DownloadArquivo", "FileUpload", new { id = arq.Id})" style="min-height: 100px; max-height: 300px;" />
                    </div>
                    <div class="pt-4 pl-3 pr-3 pb-3">
                        <form class="form-inline">
                            <textarea placeholder="Comentar..." class="form-control mb-2 mr-sm-2 col-md-11 col-sm-6"></textarea>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="modal fade" id="modalPreferencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="~/Inicio/AdicionarReferencia">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preferências</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="preferencias">
                                    @foreach (sec.Models.Preferencia pref in ViewBag.preferencias)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="preferencias" value="@pref.Id" @(Model.Preferencias.Select(a => a.Id).Contains(pref.Id) ? "checked" : "") id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                @pref.Descricao
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       
   
    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="addPref" data-dismiss="modal">Adicionar Preferência</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
                     </form>
        </div>
    </div>
</div>
<div class="modal fade" id="AdicionarPref" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="~/Inicio/CadastrarPref">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Preferência</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="desc" class="form-control" placeholder="Adicionar preferência" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/ScriptSEC/Inicio.js")
}